################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BLL.Services/obj
/src/DAL.Repositories/obj
/src/Models.Domain/obj
/src/Presentation.API/.vs/ticket-info-service/DesignTimeBuild
/src/Presentation.API/bin/Debug/netcoreapp3.1
/src/Presentation.API/obj
/src/BLL.Services/bin/Debug/netstandard2.0
/src/DAL.Repositories/bin/Debug/netstandard2.0
/src/Infrastructure.CrossCutting/bin/Debug/netstandard2.0
/src/Infrastructure.CrossCutting/obj
/src/Models.Domain/bin/Debug/netstandard2.0
/.vs/ticket-info-service
/tests/Tests.Integration/bin/Debug/netcoreapp3.1
/tests/Tests.Integration/obj/Debug/netcoreapp3.1
/tests/Tests.Integration/obj
/src/Presentation.API/.vs/Presentation.API/v16/TestStore/0
/.vs/user-service/v16/TestStore/0
/src/Models.Filters/obj
/.vs/user-service/DesignTimeBuild
/src/Models.DTO/bin/Debug/netstandard2.0
/src/Models.DTO/obj/Debug/netstandard2.0
/src/Models.Filters/bin/Debug/netstandard2.0
